{{#if this.showWarningsWarning}}
<<<<<<< HEAD
  <div class="alert alert-info">{{html-safe
      (i18n "admin.user.warnings_list_warning")
    }}</div>
{{/if}}

<UserNav::MessagesSecondaryNav>
  <DNavigationItem
    @route="userPrivateMessages.user.index"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-latest"
  >
    {{d-icon "envelope"}}
    <span>{{i18n "categories.latest"}}</span>
  </DNavigationItem>

  <DNavigationItem
    @route="userPrivateMessages.user.sent"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-sent"
  >
    {{d-icon "reply"}}
    <span>{{i18n "user.messages.sent"}}</span>
  </DNavigationItem>

  {{#if this.viewingSelf}}
    <DNavigationItem
      @route="userPrivateMessages.user.new"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-new"
    >
      {{d-icon "exclamation-circle"}}
      <span>{{this.newLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.user.unread"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-unread"
    >
      {{d-icon "plus-circle"}}
      <span>{{this.unreadLinkText}}</span>
    </DNavigationItem>

  {{/if}}

  <DNavigationItem
    @route="userPrivateMessages.user.archive"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-archive"
  >
    {{d-icon "archive"}}
    <span>{{i18n "user.messages.archive"}}</span>
  </DNavigationItem>

</UserNav::MessagesSecondaryNav>

{{outlet}}
=======
  <div class="alert alert-info">{{html-safe (i18n "admin.user.warnings_list_warning")}}</div>
{{/if}}

<UserNav::MessagesSecondaryNav>
  <li class="messages-latest">
    <LinkTo @route="userPrivateMessages.user.index" @model={{this.model}}>
      {{d-icon "envelope"}}
      <span>{{i18n "categories.latest"}}</span>
    </LinkTo>
  </li>

  <li class="messages-sent">
    <LinkTo @route="userPrivateMessages.user.sent" @model={{this.model}}>
      {{d-icon "reply"}}
      <span>{{i18n "user.messages.sent"}}</span>
    </LinkTo>
  </li>

  {{#if this.viewingSelf}}
    <li class="messages-new">
      <LinkTo @route="userPrivateMessages.user.new" @model={{this.model}} class="new">
        {{d-icon "exclamation-circle"}}
        <span>{{this.newLinkText}}</span>
      </LinkTo>
    </li>

    <li class="messages-unread">
      <LinkTo @route="userPrivateMessages.user.unread" @model={{this.model}} class="unread">
        {{d-icon "plus-circle"}}
        <span>{{this.unreadLinkText}}</span>
      </LinkTo>
    </li>
  {{/if}}

  <li class="messages-archive">
    <LinkTo @route="userPrivateMessages.user.archive" @model={{this.model}}>
      {{d-icon "archive"}}
      <span>{{i18n "user.messages.archive"}}</span>
    </LinkTo>
  </li>
</UserNav::MessagesSecondaryNav>

{{outlet}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
