<div class="list-controls">
  <div class="container">
    <h2>{{i18n "tagging.tags"}}</h2>
  </div>
</div>

<div class="tag-sort-options">
  {{i18n "tagging.sort_by"}}
<<<<<<< HEAD
  <span class="tag-sort-count {{if this.sortedByCount 'active'}}">
=======
  <span class="tag-sort-count {{if this.sortedByCount "active"}}">
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
    <a href {{on "click" this.sortByCount}}>
      {{i18n "tagging.sort_by_count"}}
    </a>
  </span>
<<<<<<< HEAD
  <span class="tag-sort-name {{if this.sortedByName 'active'}}">
=======
  <span class="tag-sort-name {{if this.sortedByName "active"}}">
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
    <a href {{on "click" this.sortById}}>
      {{i18n "tagging.sort_by_name"}}
    </a>
  </span>
</div>

<<<<<<< HEAD
<hr />

{{#if this.model}}
  <TagList
    @tags={{this.model}}
    @sortProperties={{this.sortProperties}}
    @titleKey="tagging.all_tags"
    @isPrivateMessage={{true}}
    @tagsForUser={{this.tagsForUser}}
  />
{{/if}}
=======
<hr>

{{#if this.model}}
  <TagList @tags={{this.model}} @sortProperties={{this.sortProperties}} @titleKey="tagging.all_tags" @isPrivateMessage={{true}} @tagsForUser={{this.tagsForUser}} />
{{/if}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
