{{#if @collapsable}}
  <DButton
    @title="sidebar.toggle_section"
<<<<<<< HEAD
    @action={{@toggleSectionDisplay}}
    aria-controls={{@sidebarSectionContentID}}
    aria-expanded={{if @isExpanded "true" "false"}}
    class="sidebar-section-header sidebar-section-header-collapsable btn-flat"
  >
=======
    @class="sidebar-section-header sidebar-section-header-collapsable btn-flat"
    @action={{@toggleSectionDisplay}}
    @ariaExpanded={{@isExpanded}}
    @ariaControls={{@sidebarSectionContentID}} >
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
    {{yield}}
  </DButton>
{{else}}
  <span class="sidebar-section-header">
    {{yield}}
  </span>
{{/if}}