<div class="penalty-similar-users">
<<<<<<< HEAD:app/assets/javascripts/admin/addon/components/admin-penalty-similar-users.hbs
  <p class="alert alert-warning">
    {{html-safe
      (i18n
        "admin.user.other_matches"
        (hash count=this.user.similar_users_count username=this.user.username)
      )
    }}
=======
  <p class="alert alert-danger">
    {{i18n "admin.user.other_matches" (hash count=this.user.similar_users_count username=this.user.username)}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream):app/assets/javascripts/admin/addon/templates/components/admin-penalty-similar-users.hbs
  </p>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>{{i18n "username"}}</th>
        <th>{{i18n "last_seen"}}</th>
        <th>{{i18n "admin.user.topics_entered"}}</th>
        <th>{{i18n "admin.user.posts_read_count"}}</th>
        <th>{{i18n "admin.user.time_read"}}</th>
        <th>{{i18n "created"}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.user.similar_users as |user|}}
        <tr>
          <td>
<<<<<<< HEAD:app/assets/javascripts/admin/addon/components/admin-penalty-similar-users.hbs
            <Input
              @type="checkbox"
              disabled={{not (get user this.penaltyField)}}
              {{on "click" (action "selectUserId" user.id)}}
            />
=======
            <Input @type="checkbox" disabled={{not (get user this.penaltyField)}} {{on "click" (action "selectUserId" user.id)}} />
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream):app/assets/javascripts/admin/addon/templates/components/admin-penalty-similar-users.hbs
          </td>
          <td>{{avatar user imageSize="small"}} {{user.username}}</td>
          <td>{{format-duration user.last_seen_age}}</td>
          <td>{{number user.topics_entered}}</td>
          <td>{{number user.posts_read_count}}</td>
          <td>{{format-duration user.time_read}}</td>
          <td>{{format-duration user.created_at_age}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
<<<<<<< HEAD:app/assets/javascripts/admin/addon/components/admin-penalty-similar-users.hbs
</div>
=======
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream):app/assets/javascripts/admin/addon/templates/components/admin-penalty-similar-users.hbs
