<<<<<<< HEAD
{{#if this.showUnreadIndicator}}
  <div
    class={{concat-class
      "chat-channel-unread-indicator"
      (if this.isUrgent "-urgent")
    }}
  >
    <div class="chat-channel-unread-indicator__number">{{#if
        this.showUnreadCount
      }}{{this.unreadCount}}{{else}}&nbsp;{{/if}}</div>
  </div>
{{/if}}
=======
{{#if this.hasUnread}}
  <div class="chat-channel-unread-indicator {{if this.isUrgent "urgent"}}">
    <div class="number">{{this.unreadCount}}</div>
  </div>
{{/if}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
