<<<<<<< HEAD
{{#if @upload}}
  <div
    class={{concat-class
      "chat-composer-upload"
      (if this.isImage "chat-composer-upload--image")
      (unless @isDone "chat-composer-upload--in-progress")
    }}
  >
    <div class="preview">
      {{#if this.isImage}}
        {{#if @isDone}}
          <img class="preview-img" src={{@upload.short_path}} />
        {{else}}
          {{d-icon "far-image"}}
        {{/if}}
      {{else}}
        {{d-icon "file-alt"}}
      {{/if}}
    </div>

    <span class="data">
      {{#unless this.isImage}}
        <div class="top-data">
          <span class="file-name">{{this.fileName}}</span>
        </div>
      {{/unless}}

      <div class="bottom-data">
        {{#if @isDone}}
          {{#unless this.isImage}}
            <span class="extension-pill">{{@upload.extension}}</span>
          {{/unless}}
        {{else}}
          {{#if @upload.processing}}
            <span class="processing">{{i18n "processing"}}</span>
          {{else}}
            <span class="uploading">{{i18n "uploading"}}</span>
          {{/if}}

          <progress
            class="upload-progress"
            id="file"
            max="100"
            value={{@upload.progress}}
          ></progress>
        {{/if}}
      </div>
    </span>

    <DButton
      @action={{@onCancel}}
      @icon="times"
      @title="chat.remove_upload"
      class="btn-flat chat-composer-upload__remove-btn"
    />
  </div>
{{/if}}
=======
<span class="chat-composer-upload">
  <span class="preview">
    {{#if (eq this.type this.IMAGE_TYPE)}}
      {{#if this.isDone}}
        <img class="preview-img" src={{this.upload.short_path}}>
      {{else}}
        {{d-icon "far-image"}}
      {{/if}}
    {{else}}
      {{d-icon "file-alt"}}
    {{/if}}
  </span>

  <span class="data">
    <div class="top-data">
      <span class="file-name">{{this.fileName}}</span>
      <DButton @class="btn-flat remove-upload" @action={{this.onCancel}} @icon="times" @title="chat.remove_upload" />
    </div>

    <div class="bottom-data">
      {{#if this.isDone}}
        <span class="extension-pill">{{this.upload.extension}}</span>
      {{else}}
        {{#if this.upload.processing}}
          <span class="processing">{{i18n "processing"}}</span>
        {{else}}
          <span class="uploading">{{i18n "uploading"}}</span>
        {{/if}}

        <progress
          class="upload-progress"
          id="file"
          max="100"
          value={{this.upload.progress}}
        ></progress>
      {{/if}}
    </div>
  </span>
</span>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
