<<<<<<< HEAD
{{#if this.shouldRender}}
  <div class="chat-channel-status">
    {{d-icon this.channelStatusIcon}}
    <span>{{this.channelStatusMessage}}</span>
    <ChatChannelArchiveStatus @channel={{@channel}} />
  </div>
{{/if}}
=======
{{#if this.channelStatusMessage}}
  <div class="chat-channel-status">
    {{d-icon this.channelStatusIcon}}
    <span>{{this.channelStatusMessage}}</span>
  </div>
{{/if}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
