<<<<<<< HEAD
{{! template-lint-disable no-pointer-down-event-binding }}
{{! template-lint-disable no-invalid-interactive }}

<div class="chat-composer__wrapper">
  {{#if this.shouldRenderMessageDetails}}
    <ChatComposerMessageDetails
      @message={{if
        this.currentMessage.editing
        this.currentMessage
        this.currentMessage.inReplyTo
      }}
      @cancelAction={{this.composer.cancel}}
    />
  {{/if}}

  <div
    role="region"
    aria-label={{i18n "chat.aria_roles.composer"}}
    class={{concat-class
      "chat-composer"
      (if this.isFocused "is-focused")
      (if this.pane.sending "is-sending")
      (if this.sendEnabled "is-send-enabled" "is-send-disabled")
      (if this.disabled "is-disabled" "is-enabled")
      (if this.currentMessage.draftSaved "is-draft-saved" "is-draft-unsaved")
    }}
    {{did-update this.didUpdateMessage this.currentMessage}}
    {{did-update this.didUpdateInReplyTo this.currentMessage.inReplyTo}}
    {{did-insert this.setup}}
    {{will-destroy this.teardown}}
    {{will-destroy this.cancelPersistDraft}}
  >
    <div class="chat-composer__outer-container">
      <div class="chat-composer__inner-container">
        <ChatComposerDropdown
          @buttons={{this.dropdownButtons}}
          @isDisabled={{this.disabled}}
        />

        <div
          class="chat-composer__input-container"
          {{on "click" this.composer.focus}}
        >
          <DTextarea
            id={{this.composerId}}
            value={{readonly this.currentMessage.message}}
            type="text"
            class="chat-composer__input"
            disabled={{this.disabled}}
            autocorrect="on"
            autocapitalize="sentences"
            placeholder={{this.placeholder}}
            rows={{1}}
            {{did-insert this.setupTextareaInteractor}}
            {{on "input" this.onInput}}
            {{on "keydown" this.onKeyDown}}
            {{on "focusin" this.onTextareaFocusIn}}
            {{on "focusin" (fn this.computeIsFocused true)}}
            {{on "focusout" (fn this.computeIsFocused false)}}
            {{did-insert this.setupAutocomplete}}
            data-chat-composer-context={{this.context}}
          />
        </div>

        {{#if this.inlineButtons.length}}
          {{#each this.inlineButtons as |button|}}
            <Chat::Composer::Button
              @icon={{button.icon}}
              class="-{{button.id}}"
              disabled={{or this.disabled button.disabled}}
              tabindex={{if button.disabled -1 0}}
              {{on
                "click"
                (fn this.handleInlineButonAction button.action)
                bubbles=false
              }}
              {{on "focus" (fn this.computeIsFocused true)}}
              {{on "blur" (fn this.computeIsFocused false)}}
            />
          {{/each}}

          <Chat::Composer::Separator />
        {{/if}}

        <Chat::Composer::Button
          @icon="paper-plane"
          class="-send"
          title={{i18n "chat.composer.send"}}
          disabled={{or this.disabled (not this.sendEnabled)}}
          tabindex={{if this.sendEnabled 0 -1}}
          {{on "click" this.onSend}}
          {{on "mousedown" this.trapMouseDown}}
          {{on "focus" (fn this.computeIsFocused true)}}
          {{on "blur" (fn this.computeIsFocused false)}}
        />
      </div>
    </div>
  </div>

  {{#if this.canAttachUploads}}
    <ChatComposerUploads
      @fileUploadElementId={{this.fileUploadElementId}}
      @onUploadChanged={{this.onUploadChanged}}
      @existingUploads={{this.currentMessage.uploads}}
      @uploadDropZone={{@uploadDropZone}}
      @composerInputEl={{this.composer.textarea.element}}
    />
  {{/if}}

  {{#if this.shouldRenderReplyingIndicator}}
    <div class="chat-replying-indicator-container">
      <ChatReplyingIndicator
        @presenceChannelName={{this.presenceChannelName}}
      />
    </div>
  {{/if}}

  <ChatEmojiPicker
    @context={{this.context}}
    @didSelectEmoji={{this.onSelectEmoji}}
  />
</div>
=======
{{#if this.replyToMsg}}
  <ChatComposerMessageDetails @message={{this.replyToMsg}} @icon="reply" @action={{action "cancelReplyTo"}} />
{{/if}}

{{#if this.editingMessage}}
  <ChatComposerMessageDetails @message={{this.editingMessage}} @icon="pencil-alt" @action={{action "cancelEditing"}} />
{{/if}}

<div class="chat-composer-emoji-picker-anchor"></div>

<div
  role="region"
  aria-label={{i18n "chat.aria_roles.composer"}}
  class="chat-composer {{if this.disableComposer "is-disabled"}}"
>
  {{#if
    (and
      this.chatEmojiPickerManager.opened
      (eq this.chatEmojiPickerManager.context "chat-composer")
    )
  }}
    <DButton @icon="times" @action={{this.chatEmojiPickerManager.close}} @class="chat-composer__close-emoji-picker-btn btn-flat" />
  {{else}}
    {{#unless this.disableComposer}}
      <ChatComposerDropdown @buttons={{this.dropdownButtons}} @isDisabled={{this.disableComposer}} />
    {{/unless}}
  {{/if}}

  <DTextarea @value={{readonly this.value}} @input={{action "onTextareaInput" value="target.value"}} @type="text" @class="chat-composer-input" @disabled={{this.disableComposer}} @autocorrect="on" @autocapitalize="sentences" @placeholder={{this.placeholder}} @focus-in={{action "onTextareaFocusIn" value="target"}} @rows={{1}} />

  {{#if this.isNetworkUnreliable}}
    <span
      class="chat-composer__unreliable-network"
      title={{i18n "chat.unreliable_network"}}
    >
      {{d-icon "exclamation-circle"}}
    </span>
  {{/if}}

  <FlatButton @action={{action "sendClicked"}} @icon="paper-plane" @class="icon-only send-btn chat-composer-inline-button" @title={{this.sendTitle}} @disabled={{this.sendDisabled}} />

  {{#unless this.disableComposer}}
    <ChatComposerInlineButtons @buttons={{this.inlineButtons}} />
  {{/unless}}
</div>

{{#if this.canAttachUploads}}
  <ChatComposerUploads @fileUploadElementId={{this.fileUploadElementId}} @onUploadChanged={{action "uploadsChanged"}} />
{{/if}}

{{#unless this.chatChannel.isDraft}}
  <div class="chat-replying-indicator-container">
    <ChatReplyingIndicator @chatChannel={{this.chatChannel}} />
  </div>
{{/unless}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
