<<<<<<< HEAD
<div
  class="chat-composer-message-details"
  data-id={{@message.id}}
  data-action={{if @message.editing "edit" "reply"}}
>
  <div class="chat-reply">
    {{d-icon (if @message.editing "pencil-alt" "reply")}}
    <Chat::UserAvatar @user={{@message.user}} />
    <span class="chat-reply__username">{{@message.user.username}}</span>
    <span class="chat-reply__excerpt">
      {{replace-emoji (html-safe @message.excerpt)}}
    </span>
  </div>

  <DButton
    @action={{@cancelAction}}
    @icon="times-circle"
    @title="cancel"
    class="btn-flat cancel-message-action"
  />
</div>
=======
<div class="chat-composer-message-details">
  <div class="chat-reply">
    {{d-icon this.icon}}
    <ChatUserAvatar @user={{this.message.user}} />
    <span class="chat-reply__username">{{this.message.user.username}}</span>
    <span class="chat-reply__excerpt">{{replace-emoji this.message.excerpt}}</span>
  </div>

  <FlatButton @action={{this.action}} @class="cancel-message-action" @icon="times-circle" @title="cancel" />
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
