<<<<<<< HEAD
{{#if @buttons.length}}
  <DMenu
    class={{concat-class
      "chat-composer-dropdown__trigger-btn"
      "btn-flat"
      (if @hasActivePanel "has-active-panel")
    }}
    @title={{i18n "chat.composer.toggle_toolbar"}}
    @icon="plus"
    @disabled={{@isDisabled}}
    @arrow={{true}}
    @placements={{array "top" "bottom"}}
    ...attributes
    as |menu|
  >
    <ul class="chat-composer-dropdown__list">
      {{#each @buttons as |button|}}
        <li class={{concat-class "chat-composer-dropdown__item" button.id}}>
          <DButton
            @icon={{button.icon}}
            @action={{fn this.onButtonClick button menu.close}}
            @label={{button.label}}
            class={{concat-class
              "chat-composer-dropdown__action-btn"
              button.id
            }}
          />
        </li>
      {{/each}}
    </ul>
  </DMenu>
{{/if}}
=======
{{#if this.buttons.length}}
  <DPopover @class="chat-composer-dropdown" @options={{hash arrow=null}} as |state|>
    <FlatButton @disabled={{this.isDisabled}} @class="chat-composer-dropdown__trigger-btn d-popover-trigger" @title="chat.composer.toggle_toolbar" @icon={{if state.isExpanded "times" "plus"}} />
    <ul class="chat-composer-dropdown__list">
      {{#each this.buttons as |button|}}
        <li class="chat-composer-dropdown__item {{button.id}}">
          <DButton @class={{concat "chat-composer-dropdown__action-btn " button.id}} @icon={{button.icon}} @action={{button.action}} @label={{button.label}} />
        </li>
      {{/each}}
    </ul>
  </DPopover>
{{/if}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
