<div
  class={{concat
    @class
    " dc-filter-input-container"
    (if this.isFocused " is-focused")
  }}
>
  {{#if @icons.left}}
    {{d-icon @icons.left class="-left"}}
  {{/if}}

  <Input
    class="dc-filter-input"
<<<<<<< HEAD
    @value={{@value}}
=======
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
    {{on "input" (if @filterAction @filterAction (noop))}}
    {{on "focusin" (action (mut this.isFocused) true)}}
    {{on "focusout" (action (mut this.isFocused) false)}}
    ...attributes
  />

  {{yield}}

  {{#if @icons.right}}
    {{d-icon @icons.right class="-right"}}
  {{/if}}
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
